.t-shirt{
    border: 1px solid lightblue;
    border-radius: 15px;
    padding: 10px;
}
.t-shirt img{
    height: 250px;
    border-radius: 15px;
}
.t-shirt button{
      padding: 10px 20px ;
      width: 100%;

    background-color: cadetblue;
    border-radius: 10px;
    font-size: 18px;
    color: aliceblue;
}